<dx-data-grid 
        #grid 
        id="grid-container"
        [dataSource]="posts"
        keyExpr="id"
        [showBorders]="true"
        [selectedRowKeys] =[]
        
        [columnAutoWidth]="true"
        style="width:100%"
        [focusedRowEnabled]="true"
        [showColumnLines]="true"
        ><dxi-column alignment="left" dataField ="id" caption = "ID">
        
      </dxi-column>
      <dxi-column alignment="left" dataField ="title" caption = "Title">
        
      </dxi-column>
    
        </dx-data-grid>