<div class ="container">
    <button routerLink ='' mat-raised-button color="primary" ><mat-icon>keyboard_backspace</mat-icon></button>  
    <h1> Update post</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmitted()">
        <mat-form-field class="example-full-width">
            <mat-label for="title">Title</mat-label>
            <input matInput formControlName="title" id ="title" type="text" class="form-control" [(ngModel)]="post.title">
            <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
                <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required.</div>
            </div>
        
            
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label for="body">Body</mat-label>
            <textarea matInput formControlName="body" id ="body" type="text" class="form-control" rows="10" cols="50" [(ngModel)]="post.body"></textarea>
            <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
                <div *ngIf="f['title'].errors && f['title'].errors['required']">Body is required.</div>
            </div>
        
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" >Update</button>
    </form>
</div>